.root{
    width:50%;
    margin:auto;
    border:3px solid;
}
nav{
    display:flex;
    text-align: center;
    border-bottom:3px solid black;
}
#ul-view,#dl-view{
    margin:2% auto;
    font-size: large;
}
#dl-section, #ul-view, #alert-msg, #link-text{
    display:none;
}
#ul-section, #dl-section{
    padding-bottom:10%;
    padding-top:20%;
    text-align: center;
}
#dl-link{
    width:70%
}
.xl-text{
    font-size: x-large;
}
.large-text{
    font-size: large;
}
#link-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.msg{
    text-align: center;
}